$primary-color: #3498db;

body {
  color: #ffffff;
  background-color: $primary-color;
}
.c-title {
  color: #ff0000;
  font-size: 36px;
}
.c-text {
  font-size: 16px;
  line-height: 1.6;
  color: #cccccc;
}
