@charset "utf-8";

@import 'base/reset';
@import 'layout/header';
@import 'layout/footer';

$primary-color: #3498db;

body {
  background: #ffffff;
  color: #333333;
  font-size: 16px;
}
.c-title {
  color: $primary-color;
  font-size: 36px;
}
.c-text {
  line-height: 1.6;
}
.u-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 1024px;
}
