<!doctype html>
<html lang="ja">
  <head>
    <%- include('parts/_head') %>
    <title>TOP</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/top.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
    <!-- header -->
    <%- include('parts/_header') %>

    <main class="l-main">
      <section class="p-top">
        <div class="u-container">
          <h1 class="c-title">Top page</h1>
          <p class="c-text">
            text text text text text text text texttext text text text text text
            text texttext text text text text text text text aaa
          </p>
          <div>
            <img src="/images/neko.jpg" alt="neko" />
          </div>
          <p class="c-text">
            text text text text text text text texttext text text text text text
            text texttext text text text text text text text aaa
          </p>
          <div>
            <img src="/images/neko02.jpg" alt="neko02" />
          </div>
          <p class="c-text">
            text text text text text text text texttext text text text text text
            text texttext text text text text text text text aaa
          </p>
          <div>
            <img src="/images/neko03.jpg" alt="neko03" />
          </div>
        </div>
      </section>
    </main>

    <!-- footer -->
    <%- include('parts/_footer') %>
  </body>
</html>
