<header class="l-header">
  <nav class="c-navi">
    <ul class="c-navi-list">
      <li class="c-navi-list__item">
        <a class="c-navi-list__link" href="/">TOP</a>
      </li>
      <li class="c-navi-list__item">
        <a class="c-navi-list__link" href="/about/">ABOUT</a>
      </li>
    </ul>
  </nav>
</header>
